<!-- <p>baner works!</p> -->
<div class="container">
    <div class="title">
        <span>
            My Portfolio
        </span>
    </div>
    <div class="name">
        <span>
            <span>Hi, </span> I am
        </span><br>
        <span>Samoeurn Art.</span>
        <span>Frontend developer</span>
    </div>
    <div class="profile">
        <div class="profile-bg"></div>
        <!-- <img src="https://t3.ftcdn.net/jpg/06/01/17/18/360_F_601171862_l7yZ0wujj8o2SowiKTUsfLEEx8KunYNd.jpg" alt=""> -->
       <!-- <img src="https://z-p3-scontent.fpnh5-2.fna.fbcdn.net/v/t39.30808-1/350128614_153028564421418_9221285116373415472_n.jpg?stp=c0.0.320.320a_dst-jpg_p320x320&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEo0gbdtkiwbGNJwn0eSj9Wg8HY6Uj1GqeDwdjpSPUap0IF0PkyDZvW-sK3KNhS1eHZQfNarffEcsNDQ13HcC8I&_nc_ohc=_I-ZBRBZQ-cAb6zVHbk&_nc_ht=z-p3-scontent.fpnh5-2.fna&oh=00_AfAJ9TmtpLshxHks7xFIm32X89tqvs1DehuW576sVz07Bg&oe=662074FF" alt=""> -->
    </div>
</div>
