:host
{
    display: block;
    color:  white;
    padding: 2rem 3rem;
}
.social-media
{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-media li
{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: green;
    background-color: grey;
}
.contact-info 
{
    height: 30px;
    font-size: 1.2rem;
}
:host.pc .container 
{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
:host.pc h1 
{
    grid-column: 1/3;
}
:host.pc .social-media ,
:host.pc .contact-info
{
    width: 400px;
    margin: 0 auto;
}
:host.pc .social-media li:hover
{
    background-color: grey;
    
}